.swiper-container {
	padding: 0;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 55px;
	background-color: black;
	overflow: hidden;
	@media (max-width: 577px) {
		margin-bottom: 25px;
	}
	.swiper-slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: all 200ms linear;
		transform: scale(0.8);
	}
	.swiper-img {
		@media (max-width: 577px) {
			height: 500px;
			object-fit: cover;
			width: 100%;
		}
	}
}

