.card {
	&-col {
		display: inline-block;
		width: 33.33%;
		box-sizing: border-box;
		padding: 10px;
		position: relative;
		@media (max-width: 577px) {
			width: 100%;
		}
		@media (min-width: 577px) and (max-width: 993px) {
			width: 50%;
		}
		@media (min-width: 993px) {
			width: 33.33%;
		}
	}
	&-img-top {
		width: 100%;
		height: auto;
		object-fit: cover; 
	}
	&-title, 
	&-text {
		height: 75px; 
		overflow: hidden;
		text-overflow: ellipsis; 
	}
	& &-btn{
		background-color: var(--accent);
		&:hover {
			color: white;
		}
	}
	&__block-actions {
		.actions__btn {
			margin-bottom: 10px;
			display: flex;
			justify-content: space-between;
			&-buy {
				width: 100%;
			}
		}
		.actions__details {
			&-btn {
				width: 100%;
			}
		}
	}
}

