.swiper-container {
	top: -40px;
	overflow: hidden;
	.swiper-slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: all 200ms linear;
		transform: scale(0.8);
	}
	.swiper-img {
		@media (max-width: 577px) {
						height: 500px;
						object-fit: cover;
					}
	}
}