.dark-mode {
	& .circle-icon {
		color: black;
	}
	& .enlarged-icon:hover {
		color: white;
	}
	& .navbar-top{
		background-color: var(--accent);
	}
	& .network__icon:hover {
		color: white;
		text-decoration: none;
		
	}
	& .form__block-order {
		color: black;
	}
	& .modal-content--js {
		color: black;
	}
	& .bar__list-link {
		color: white;
	}
	& .header__menu-toggler {
		background-color: var(--accent);
	}
	& .card__block {
		color: black;
	}
}