.dark-mode .circle-icon {
	color: black;
}
.dark-mode .enlarged-icon:hover {
	color: white;
}
.dark-mode .navbar-top{
	background-color: var(--accent);
}
.dark-mode .fab:hover {
	color: white;
	text-decoration: none;
}