.custom-btn {
	background-color: var(--accent); 
	border: none;
	color: black;
	padding: 5px;
	transition: transform 0.2s;
}
.custom-btn:hover {
	transform: scale(1.1);
}
.message-form {
	margin-bottom: 15px;
}