.product-buy-actions {
	margin-bottom: 10px;
}

.enlarged-icon {
	margin-right: 10px;
}
.card .my-btn {
	background-color: var(--accent);
}

.social-icons {
	margin-top: 20px;
 }

 .message-form {
	margin-top: 20px;
 }

